* { box-sizing: border-box; }
*:focus { outline: 0; }

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
}

h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    letter-spacing: 1px;
    font-size: 1.1rem;
    margin: 10px 0px;
    line-height: 1.5rem;
    font-weight: 500;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

[data-position="portada"] .site-nav__link-home {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="portada"] .site-nav__link-home:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="portada"] .site-nav__link-home::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="portada"] .site-nav .link {
    color: #fff;
}

[data-position="quienSoy"] .site-nav__link-quien-soy {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="quienSoy"] .site-nav__link-quien-soy:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="quienSoy"] .site-nav__link-quien-soy::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="quienSoy"] .site-nav {
    background-color: #d4d4d4;
}

[data-position="estudios"] .site-nav__link-estudios {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="estudios"] .site-nav__link-estudios:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="estudios"] .site-nav__link-estudios::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="estudios"] .site-nav {
    background-color: #1d00ff;
}

[data-position="estudios"] .site-nav .link:hover {
    color: #fff;
}

[data-position="estudios"] .site-nav .site-nav__link-home {
    color: #f3412b;
}

[data-position="experiencia"] .site-nav__link-experiencia {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="experiencia"] .site-nav__link-experiencia:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="experiencia"] .site-nav__link-experiencia::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="experiencia"] .site-nav {
    background-color: #fff;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="contacto"] .site-nav__link-contacto {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="contacto"] .site-nav__link-contacto:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="contacto"] .site-nav__link-contacto::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="contacto"] .site-nav {
    background-color: #000;
}

.site-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    color: #d4d4d4;
    background-image:
        url(../img/yo-t-bn.png),
        url(../img/yo-t-c.png),
        url(../img/yo-b.png),
        /*linear-gradient(-45deg, #321fdb 22%, #321fdb 22%, #f3422b 63%, #f3422b 63%, #f3422b 100%),*/
        linear-gradient(-45deg,
            rgba(50, 31, 219, 1) 12%,
            rgba(50, 31, 219, .9) 22%,
            rgba(243, 66, 43, .9) 63%,
            rgba(243, 66, 43, .9) 63%,
            rgba(243, 66, 43, 1) 100%),
        url(../img/home-bg.png);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size:
        auto 85%,
        auto 85%,
        auto 85%,
        400% 400%,
        100% 100%;
    background-position:
        85% bottom,
        85% bottom,
        80% 115%,
        0% 50%,
        0 0;
    animation: bg-transition 15s ease infinite;
    animation-delay: 2s;
}

@keyframes bg-transition {
    0% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%,
            0 0;
    }
    50% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            100% 50%,
            0 0;
    }
    100% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%,
            0 0;
    }
}

.site-header__title {
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 0;
}

.site-header__skills {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    color: #7300b5;
    border-bottom: #7300b5 solid 3px;
    padding-bottom: 30px;
    box-shadow: -3px 5px 0px -3px #f3412a;
}

.site-header__text-bg {
    line-height: 3rem;
}

.link {
    text-decoration: none;
    color: #f3412b;
}

.link:hover {
    color: #1d00ff;
    text-decoration: underline;
}

.site-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
    border-bottom: #f3412b solid thin;
    transition: background-color .5s ease;
}

.site-nav__link-home {
    color: #1d00ff;
}

.item-list-inline {
    display: inline-block;
}

.item-list-inline ~ .item-list-inline {
    margin-left: 10px;
}

/**/

.quien-soy {
    background-color: #d4d4d4;
    height: 100%;
    color: #7300b5;
    display: flex;
    align-items: center;
}

.quien-soy__img-container {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.quien-soy__img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.quien-soy__profile-container {
    padding-left: 40px;
}

.quien-soy__profile-container p {
    width: 405px;
    color: #7300b4;
    text-align: justify;
}

.quien-soy__profile-container p + p {
    font-size: .9rem;
}

/**/

.estudios {
    background-color: #1d00ff;
    background-image: url(../img/);
    background-position: left bottom;
    color: #d4d4d4;
    display: flex;
    padding: 80px 40px;
    min-height: 100%;
    height: auto;
}

.col-50 {
    flex: 1;
}

.estudios__item {
    margin-bottom: 30px;
}

.estudios__item-title {
    font-weight: 100;
    margin-bottom: -10px;
}

.estudios__item-place {
    font-weight: 500;
    color: #939393;
    text-transform: uppercase;
}

/**/

.experiencia {
    display: flex;
    padding: 80px 40px;
    color: #1d00ff;
}

.experiencia > div {
    border: #1d00ff solid 2px;
    padding: 30px 45px;
}

.experiencia p {
    line-height: 2rem;
    text-align: justify;
    max-width: 50%;
}

/**/

.sobre-mi {
    display: flex;
    padding: 80px 40px;
    background-image: url(../img/tururu.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

.sobre-mi__video {
    height: 500px;
    margin-left: 30px;

}

/**/

.contacto {
    display: flex;
    min-height: 100%;
    background-color: #000;
    padding: 80px 40px;
}

.contacto__form {
    height: 100%;
    padding: 40px;
    color: #d4d4d4;
    border: #d4d4d4 solid thin;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.fieldset {
    border: none;
    padding: 0;
}

.contact-item {
    margin-bottom: 30px;
}

.contact-item--empty .contacto__field-required-msg,
.contact-item--limit .contacto__field-limit-msg,
.contact-item-other--empty .contacto__field-required-opts-other {
    display: block;
}

.input-field {
    padding: 10px;
    width: 100%;
    background-color: #000;
    color: #d4d4d4;
    border: #d4d4d4 solid thin;
    margin-top: 5px;
}

.input-field--disabled {
    border-color: #333;
}

.contacto__field-required-msg,
.contacto__field-limit-msg,
.contacto__field-required-opts-other {
    font-size: .8rem;
    margin-top: 5px;
    color: #7300b4;
    display: none;
    position: absolute;
}

.btn {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .9rem;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #1d00ff;
    color: #fff;
}

.networking-opts__ot + .input-field {
  display: none;
}

.networking-opts__ot:checked + .input-field {
  display: block;
}

.networking-opts__other {}

.btn-submit {

}

.contacto-links {
    line-height: 2rem;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 70px;
}

.contacto-figure {
    color: #fff;
    margin: 0;
}

.contacto-figure__img {
    width: 80%;
    opacity: .75;
    margin-left: 40px;
    display: block;
    border: #fff solid thin;
    filter: grayscale(100%);
}

.contacto-figure__figcaption {
    margin-left: 40px;
    margin-top: 10px;
    color: #fff;
}

/**/

.footer {
    text-align: center;
    background-color: #1d00ff;
    color: #fff;
}

/* helpers */

.d-none {
    display: none;
}

.h-100 {
    min-height: 100%;
}

.--regular {
    font-weight: 400;
}

.--medium {
    font-weight: 500;
}

.text-bg {
    position: relative;
    display: inline;
    white-space: pre-wrap;
    padding: 0 10px 1px 0;
}

.text-bg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 0.25em;
}

.text-bg--black,
.text-bg--black:after {
    background-color: rgba(0, 0, 0, .8);
}

.text-bg--black {
    border: 0 solid rgba(0, 0, 0, .8);
}

.text-bg--white,
.text-bg--white:after {
    background-color: rgba(255, 255, 255, .8);
}

.text-bg--white {
    border: 0 solid rgba(255, 255, 255, .8);
}

.text-bg--orange,
.text-bg--orange:after {
    background-color: rgba(243, 65, 43, .8);
}

.text-bg--orange {
    border: 0 solid rgba(243, 65, 43, .8);
}