* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
}

h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    letter-spacing: 1px;
    font-size: 1.1rem;
    margin: 10px 0px;
    line-height: 1.5rem;
    font-weight: 500;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

body>header,
body>section {
    height: 100%;
}

/*body>header {*/
.site-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    color: #d4d4d4;
    background-image:
        url(../img/yo-t-bn.png),
        url(../img/yo-t-c.png),
        url(../img/yo-b.png),
        linear-gradient(-45deg, #321fdb 22%, #321fdb 22%, #f3422b 63%, #f3422b 63%, #f3422b 100%);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size:
        auto 85%,
        auto 85%,
        auto 85%,
        400% 400%;
    background-position:
        85% bottom,
        85% bottom,
        80% 115%,
        0% 50%;
    animation: bg-transition 15s ease infinite;
    animation-delay: 2s;
}

@keyframes bg-transition {
    0% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%;
    }
    50% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            100% 50%;
    }
    100% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%;
    }
}

/*body>header h1 {*/
.site-header__title {
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 0;
}

/*body>header ul {*/
.site-header__skills {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    color: #7300b5;
    border-bottom: #7300b5 solid 3px;
    padding-bottom: 30px;
    box-shadow: -3px 5px 0px -3px #f3412a;
}

/*a {*/
.link {
    text-decoration: none;
    color: #f3412b;
}

/*section a:hover {*/
.link:hover {
    color: #1d00ff;
    text-decoration: underline;
}

.site-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
    border-bottom: #f3412b solid thin;
}

.site-nav__link-home {
    color: #1d00ff;
}

.item-list-inline {
    display: inline-block;
}

.item-list-inline ~ .item-list-inline {
    margin-left: 10px;
}

/*nav a:hover,
nav a:focus,
nav a:active {
    color: #7300b5;
}*/

.site-nav__link--active {
    color: #d4d4d4;
    position: relative;
    display: inline-block;
}

.site-nav__link--active:hover {
    text-decoration: none;
    color: #d4d4d4;
}

.site-nav__link--active::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

#quien-soy {
    background-color: #d4d4d4;
    height: 100%;
    color: #7300b5;
    display: flex;
    align-items: center;
    background-image: url(../img/quien-soy.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 0;
}

#quien-soy header {
    flex: 1.2;
}

#quien-soy div {
    padding: 40px;
    flex: 1;
}

#quien-soy div p {
    width: 405px;
    color: #7300b4;
}

#quien-soy div p+p {
    font-size: .9rem;
}

#estudios {
    background-color: #1d00ff;
    // background-image: linear-gradient(to bottom, #3320db 86%,#d4d4d4 98%);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center bottom;
    color: #d4d4d4;
    display: flex;
    padding: 80px 40px;
    min-height: 100%;
    height: auto;
}

#estudios header {
    flex: 2;
}

#estudios div {
    flex: 1;
}

#estudios li {
    margin-bottom: 30px;
}

#estudios li p:first-child {
    font-weight: 100;
    margin-bottom: -10px;
}

#estudios p small {
    font-weight: 500;
    color: #939393;
    text-transform: uppercase;
}

/* helpers */

.--text-blue {
    color: #1d00ff;
}

.--text-gray {
    color: #939393;
}

.--regular {
    font-weight: 400;
}

.--medium {
    font-weight: 500;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.eczar {
    font-family: 'Eczar', serif;
}

.text-bg {
    position: relative;
    display: inline;
    white-space: pre-wrap;
    padding: 0 10px 1px 0;
    line-height: 3rem;
}

.text-bg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 0.25em;
}

.text-bg--black,
.text-bg--black:after {
    background-color: rgba(0, 0, 0, .4);
}

.text-bg--black {
    border: 0 solid rgba(0, 0, 0, .4);
}

.text-bg--white,
.text-bg--white:after {
    background-color: rgba(0, 0, 0, .4);
}

.text-bg--white {
    border: 0 solid rgba(0, 0, 0, .4);
}

.text-bg--orange,
.text-bg--orange:after {
    background-color: rgba(243, 65, 43, .8);
}

.text-bg--orange {
    border: 0 solid rgba(243, 65, 43, .8);
}