* { box-sizing: border-box; }
*:focus { outline: 0; }

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'Eczar', serif;
}

h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    letter-spacing: 1px;
    font-size: 1.1rem;
    margin: 10px 0px;
    line-height: 1.5rem;
    font-weight: 500;
}

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

[data-position="portada"] .site-nav__link-home {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="portada"] .site-nav__link-home:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="portada"] .site-nav__link-home::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="portada"] .site-nav .link {
    color: #fff;
}

[data-position="quienSoy"] .site-nav__link-quien-soy {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="quienSoy"] .site-nav__link-quien-soy:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="quienSoy"] .site-nav__link-quien-soy::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="quienSoy"] .site-nav {
    background-color: #d4d4d4;
}

[data-position="estudios"] .site-nav__link-estudios {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="estudios"] .site-nav__link-estudios:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="estudios"] .site-nav__link-estudios::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="estudios"] .site-nav {
    background-color: #1d00ff;
}

[data-position="estudios"] .site-nav .link:hover {
    color: #fff;
}

[data-position="estudios"] .site-nav .site-nav__link-home {
    color: #f3412b;
}

[data-position="experiencia"] .site-nav__link-experiencia {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="experiencia"] .site-nav__link-experiencia:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="experiencia"] .site-nav__link-experiencia::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="experiencia"] .site-nav {
    background-color: #fff;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="sobreMi"] .site-nav__link-sobre-mi::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="contacto"] .site-nav__link-contacto {
    color: #fff;
    position: relative;
    display: inline-block;
}

[data-position="contacto"] .site-nav__link-contacto:hover {
    text-decoration: none;
    color: #d4d4d4;
}

[data-position="contacto"] .site-nav__link-contacto::after {
    content: "";
    display: block;
    background-color: #1d00ff;
    position: absolute;
    width: 110%;
    height: 110%;
    top: 2%;
    left: -5%;
    z-index: -1;
}

[data-position="contacto"] .site-nav {
    background-color: #000;
}

.site-header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    color: #d4d4d4;
    background-image:
        url(../img/yo-t-bn.png),
        url(../img/yo-t-c.png),
        url(../img/yo-b.png),
        /*linear-gradient(-45deg, #321fdb 22%, #321fdb 22%, #f3422b 63%, #f3422b 63%, #f3422b 100%),*/
        linear-gradient(-45deg,
            rgba(50, 31, 219, 1) 12%,
            rgba(50, 31, 219, .9) 22%,
            rgba(243, 66, 43, .9) 63%,
            rgba(243, 66, 43, .9) 63%,
            rgba(243, 66, 43, 1) 100%),
        url(../img/home-bg.png);
    background-repeat:
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-size:
        auto 85%,
        auto 85%,
        auto 85%,
        400% 400%,
        100% 100%;
    background-position:
        85% bottom,
        85% bottom,
        80% 115%,
        0% 50%,
        0 0;
    animation: bg-transition 15s ease infinite;
    animation-delay: 2s;
}

@keyframes bg-transition {
    0% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%,
            0 0;
    }
    50% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            100% 50%,
            0 0;
    }
    100% {
        background-position:
            85% bottom,
            85% bottom,
            80% 115%,
            0% 50%,
            0 0;
    }
}

.site-header__title {
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 0;
}

.site-header__skills {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    color: #7300b5;
    border-bottom: #7300b5 solid 3px;
    padding-bottom: 30px;
    box-shadow: -3px 5px 0px -3px #f3412a;
}

.site-header__text-bg {
    line-height: 3rem;
}

.link {
    text-decoration: none;
    color: #f3412b;
}

.link:hover {
    color: #1d00ff;
    text-decoration: underline;
}

.site-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
    border-bottom: #f3412b solid thin;
    transition: background-color .5s ease;
}

.site-nav__link-home {
    color: #1d00ff;
}

.item-list-inline {
    display: inline-block;
}

.item-list-inline ~ .item-list-inline {
    margin-left: 10px;
}

/**/

.quien-soy {
    background-color: #d4d4d4;
    height: 100%;
    color: #7300b5;
    display: flex;
    align-items: center;
}

.quien-soy__img-container {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.quien-soy__img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.quien-soy__profile-container {
    padding-left: 40px;
}

.quien-soy__profile-container p {
    width: 405px;
    color: #7300b4;
    text-align: justify;
}

.quien-soy__profile-container p + p {
    font-size: .9rem;
}

/**/

.estudios {
    background-color: #1d00ff;
    background-image: url(../img/);
    background-position: left bottom;
    color: #d4d4d4;
    display: flex;
    padding: 80px 40px;
    min-height: 100%;
    height: auto;
}

.estudios__item {
    margin-bottom: 30px;
}

.estudios__item-title {
    font-weight: 100;
    margin-bottom: -10px;
}

.estudios__item-place {
    font-weight: 500;
    color: #939393;
    text-transform: uppercase;
}

.esfera-cuadro {
    width: 400px;
    height: 400px;
}

@keyframes anim-esfera {
    from,
    21.59% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(1, 1);
        opacity: 1;
    }
    22.72% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.8829, 0.8829);
    }
    23.86% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.7814, 0.7814);
    }
    25% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.6955, 0.6955);
    }
    26.13% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.6252, 0.6252);
    }
    27.27% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.5705, 0.5705);
    }
    28.4% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.5315, 0.5315);
    }
    29.54% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.508, 0.508);
    }
    30.68% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.5002, 0.5002);
    }
    30.69%,
    35.23% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(0.5002, 0.5002);
        opacity: 1;
    }
    36.37% {
        transform: matrix(1, 0, 0, 1, 203.975, 203.958) scale(0.5002, 0.5002);
    }
    37.51% {
        transform: matrix(1, 0, 0, 1, 215.9, 215.833) scale(0.5002, 0.5002);
    }
    38.64% {
        transform: matrix(1, 0, 0, 1, 235.775, 235.625) scale(0.5002, 0.5002);
    }
    39.78% {
        transform: matrix(1, 0, 0, 1, 263.6, 263.333) scale(0.5002, 0.5002);
    }
    40.91% {
        transform: matrix(1, 0, 0, 1, 299.375, 298.958) scale(0.5002, 0.5002);
    }
    42.05% {
        transform: matrix(1, 0, 0, 1, 343.1, 342.5) scale(0.5002, 0.5002);
    }
    42.06%,
    47.74% {
        transform: matrix(1, 0, 0, 1, 343.1, 342.5) scale(0.5002, 0.5002);
        opacity: 1;
    }
    48.88% {
        transform: matrix(1, 0, 0, 1, 342.15, 341.55) scale(0.5088, 0.5088);
    }
    50.02% {
        transform: matrix(1, 0, 0, 1, 339.3, 338.7) scale(0.5346, 0.5346);
    }
    51.15% {
        transform: matrix(1, 0, 0, 1, 334.55, 333.95) scale(0.5776, 0.5776);
    }
    52.29% {
        transform: matrix(1, 0, 0, 1, 327.9, 327.3) scale(0.6379, 0.6379);
    }
    53.42% {
        transform: matrix(1, 0, 0, 1, 319.35, 318.75) scale(0.7153, 0.7153);
    }
    54.56% {
        transform: matrix(1, 0, 0, 1, 308.9, 308.3) scale(0.8099, 0.8099);
    }
    55.7% {
        transform: matrix(1, 0, 0, 1, 296.55, 295.95) scale(0.9217, 0.9217);
    }
    56.83% {
        transform: matrix(1, 0, 0, 1, 282.3, 281.7) scale(1.0507, 1.0507);
    }
    57.97% {
        transform: matrix(1, 0, 0, 1, 266.15, 265.55) scale(1.1969, 1.1969);
    }
    59.11% {
        transform: matrix(1, 0, 0, 1, 248.1, 247.5) scale(1.3604, 1.3604);
    }
    60.24% {
        transform: matrix(1, 0, 0, 1, 228.15, 227.55) scale(1.541, 1.541);
    }
    60.25%,
    63.66% {
        transform: matrix(1, 0, 0, 1, 228.15, 227.55) scale(1.541, 1.541);
        opacity: 1;
    }
    64.8% {
        transform: matrix(1, 0, 0, 1, 227.868, 227.274) scale(1.5356, 1.5356);
    }
    65.93% {
        transform: matrix(1, 0, 0, 1, 227.024, 226.448) scale(1.5194, 1.5194);
    }
    67.07% {
        transform: matrix(1, 0, 0, 1, 225.617, 225.071) scale(1.4923, 1.4923);
    }
    68.21% {
        transform: matrix(1, 0, 0, 1, 223.646, 223.142) scale(1.4544, 1.4544);
    }
    69.34% {
        transform: matrix(1, 0, 0, 1, 221.113, 220.663) scale(1.4058, 1.4058);
    }
    70.48% {
        transform: matrix(1, 0, 0, 1, 218.016, 217.632) scale(1.3462, 1.3462);
    }
    71.62% {
        transform: matrix(1, 0, 0, 1, 214.356, 214.05) scale(1.2759, 1.2759);
    }
    72.75% {
        transform: matrix(1, 0, 0, 1, 210.134, 209.918) scale(1.1948, 1.1948);
    }
    73.89% {
        transform: matrix(1, 0, 0, 1, 205.349, 205.235) scale(1.1028, 1.1028);
    }
    75.02% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(1, 1);
    }
    75.03%,
    98.9% {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(1, 1);
        opacity: 1;
    }
    98.91%,
    to {
        transform: matrix(1, 0, 0, 1, 200, 200) scale(1, 1);
    }
}

@keyframes anim-cuadro {
    from,
    4.54% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 1);
        opacity: 1;
    }
    5.68% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.9196);
    }
    6.81% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.8447);
    }
    7.95% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.7754);
    }
    9.09% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.7116);
    }
    10.22% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.6533);
    }
    11.36% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.6006);
    }
    12.5% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.5535);
    }
    13.63% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.5119);
    }
    14.77% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.4758);
    }
    15.9% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.4453);
    }
    17.04% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.4204);
    }
    18.18% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.401);
    }
    19.31% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.3871);
    }
    20.45% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.3788);
    }
    21.59% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.376);
    }
    21.6% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.376);
        opacity: 1;
    }
    25.01% {
        transform: matrix(1, 0, 0, 1, 200, 200) rotate(0deg) scale(1, 0.4384);
        opacity: 1;
    }
    26.14% {
        transform: matrix(1, 0, 0, 1, 200, 199.987) rotate(-23.878deg) scale(1, 0.4771);
    }
    27.28% {
        transform: matrix(1, 0, 0, 1, 200, 199.976) rotate(-44.082deg) scale(1, 0.5097);
    }
    28.41% {
        transform: matrix(1, 0, 0, 1, 200, 199.966) rotate(-60.612deg) scale(1, 0.5365);
    }
    29.55% {
        transform: matrix(1, 0, 0, 1, 200, 199.959) rotate(-73.469deg) scale(1, 0.5573);
    }
    30.69% {
        transform: matrix(1, 0, 0, 1, 200, 199.954) rotate(-82.653deg) scale(1, 0.5721);
    }
    31.82% {
        transform: matrix(1, 0, 0, 1, 200, 199.951) rotate(-88.163deg) scale(1, 0.581);
    }
    32.96% {
        transform: matrix(1, 0, 0, 1, 200, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    32.97%,
    37.52% {
        transform: matrix(1, 0, 0, 1, 200, 199.95) rotate(-90deg) scale(1, 0.584);
        opacity: 1;
    }
    38.65% {
        transform: matrix(1, 0, 0, 1, 198.302, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    39.79% {
        transform: matrix(1, 0, 0, 1, 193.208, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    40.92% {
        transform: matrix(1, 0, 0, 1, 184.718, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    42.06% {
        transform: matrix(1, 0, 0, 1, 172.833, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    43.2% {
        transform: matrix(1, 0, 0, 1, 157.551, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    44.33% {
        transform: matrix(1, 0, 0, 1, 138.873, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    45.47% {
        transform: matrix(1, 0, 0, 1, 116.8, 199.95) rotate(-90deg) scale(1, 0.584);
    }
    45.48%,
    53.43% {
        transform: matrix(1, 0, 0, 1, 116.8, 199.95) rotate(-90deg) scale(1, 0.584);
        opacity: 1;
    }
    60.25%,
    64.8% {
        transform: matrix(1, 0, 0, 1, 116.8, 20.65) rotate(-90deg) scale(0.1037, 0.584);
        opacity: 1;
    }
    65.93% {
        transform: matrix(1, 0, 0, 1, 117.632, 20.651) rotate(-90deg) scale(0.1037, 0.5882);
    }
    67.07% {
        transform: matrix(1, 0, 0, 1, 120.128, 20.654) rotate(-90deg) scale(0.1037, 0.6007);
    }
    68.21% {
        transform: matrix(1, 0, 0, 1, 124.288, 20.659) rotate(-90deg) scale(0.1037, 0.6215);
    }
    69.34% {
        transform: matrix(1, 0, 0, 1, 130.112, 20.666) rotate(-90deg) scale(0.1037, 0.6506);
    }
    70.48% {
        transform: matrix(1, 0, 0, 1, 137.6, 20.675) rotate(-90deg) scale(0.1037, 0.688);
    }
    71.62% {
        transform: matrix(1, 0, 0, 1, 146.752, 20.686) rotate(-90deg) scale(0.1037, 0.7338);
    }
    72.75% {
        transform: matrix(1, 0, 0, 1, 157.568, 20.699) rotate(-90deg) scale(0.1037, 0.7878);
    }
    73.89% {
        transform: matrix(1, 0, 0, 1, 170.048, 20.714) rotate(-90deg) scale(0.1037, 0.8502);
    }
    75.03% {
        transform: matrix(1, 0, 0, 1, 184.192, 20.731) rotate(-90deg) scale(0.1037, 0.921);
    }
    76.16% {
        transform: matrix(1, 0, 0, 1, 200, 20.75) rotate(-90deg) scale(0.1037, 1);
    }
    76.17%,
    84.13% {
        transform: matrix(1, 0, 0, 1, 200, 20.75) rotate(-90deg) scale(0.1037, 1);
        opacity: 1;
    }
    85.26% {
        transform: matrix(1, 0, 0, 1, 200, 47.251) rotate(-90deg) scale(0.2362, 1);
    }
    86.4% {
        transform: matrix(1, 0, 0, 1, 200, 71.633) rotate(-90deg) scale(0.3581, 1);
    }
    87.54% {
        transform: matrix(1, 0, 0, 1, 200, 93.894) rotate(-90deg) scale(0.4694, 1);
    }
    88.67% {
        transform: matrix(1, 0, 0, 1, 200, 114.035) rotate(-90deg) scale(0.5701, 1);
    }
    89.81% {
        transform: matrix(1, 0, 0, 1, 200, 132.056) rotate(-90deg) scale(0.6602, 1);
    }
    90.94% {
        transform: matrix(1, 0, 0, 1, 200, 147.957) rotate(-90deg) scale(0.7397, 1);
    }
    92.08% {
        transform: matrix(1, 0, 0, 1, 200, 161.738) rotate(-90deg) scale(0.8086, 1);
    }
    93.22% {
        transform: matrix(1, 0, 0, 1, 200, 173.399) rotate(-90deg) scale(0.8669, 1);
    }
    94.35% {
        transform: matrix(1, 0, 0, 1, 200, 182.939) rotate(-90deg) scale(0.9146, 1);
    }
    95.49% {
        transform: matrix(1, 0, 0, 1, 200, 190.359) rotate(-90deg) scale(0.9517, 1);
    }
    96.63% {
        transform: matrix(1, 0, 0, 1, 200, 195.66) rotate(-90deg) scale(0.9782, 1);
    }
    97.76% {
        transform: matrix(1, 0, 0, 1, 200, 198.84) rotate(-90deg) scale(0.9941, 1);
    }
    98.9%,
    to {
        transform: matrix(1, 0, 0, 1, 200, 199.9) rotate(-90deg) scale(0.9994, 1);
    }
}

.cuadro {
    position: absolute;
    transform: matrix(1, 0, 0, 1, -199.981, -200.022);
}

.esfera {
    position: absolute;
    transform: matrix(1, 0, 0, 1, -110.475, -110.465);
}

.cuadro-container {
    animation-duration: 3.66667s;
    animation-name: anim-cuadro;
    animation-iteration-count: infinite;
    transform: matrix(1, 0, 0, 1, 200, 199.9) rotate(-90deg) scale(0.9994, 1);
    transform-origin: 0px 0px;
    animation-timing-function: linear;
}

.esfera-container {
    animation-duration: 3.66667s;
    animation-name: anim-esfera;
    animation-iteration-count: infinite;
    transform: matrix(1, 0, 0, 1, 200, 200) scale(1, 1);
    transform-origin: 0px 0px;
    animation-timing-function: linear;
}


/**/

.experiencia {
    display: flex;
    padding: 80px 40px;
    color: #1d00ff;
}

.experiencia > div {
    border: #1d00ff solid 2px;
    padding: 30px 45px;
    position: relative;
}

.experiencia p {
    line-height: 2rem;
    text-align: justify;
    max-width: 50%;
}

.experiencia__github {
    position: absolute;
    top: 30px;
    right: 45px;
    width: 350px;
    background-color: #f3412b;
}

.experiencia__github::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: 350px;
    height: 100%;
    background-color: #1d00ff;
    z-index: -1;
}

.experiencia__github:hover::before {
    background-color: #f3412b;
}

.github__loading {
    padding: 20px;
}

.github__loading p {
    color: #fff;
    text-align: center;
    max-width: 100%;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.github__loading::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin: auto;
    border: #1d00ff solid 3px;
    border-top-color: #f3412b;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.github-file {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.github-file:hover {
    background-color: #1d00ff;
}

.github-file .media-obj {
    border-bottom: #ffffff91 solid thin;
    padding-bottom: 15px;
}

.github-file p {
    font-size: .8rem;
    line-height: 1.2rem;
    text-align: left;
    max-width: 100%;
    font-weight: 300;
}

.github-file__username {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.github-file__go {
    border: #fff solid thin;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 10px;
    display: inline-block;
}

/**/

.sobre-mi {
    display: flex;
    padding: 80px 40px;
    background-image: url(../img/tururu.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

.sobre-mi__video {
    height: 500px;
    margin-left: 30px;

}

/**/

.contacto {
    display: flex;
    min-height: 100%;
    background-color: #000;
    padding: 80px 40px;
}

.contacto__form {
    height: 100%;
    padding: 40px;
    color: #d4d4d4;
    border: #d4d4d4 solid thin;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.fieldset {
    border: none;
    padding: 0;
}

.contact-item {
    margin-bottom: 30px;
}

.contact-item--empty .contacto__field-required-msg,
.contact-item--limit .contacto__field-limit-msg,
.contact-item--more-limit .contacto__field-more-limit-msg,
.contact-item-other--empty .contacto__field-required-opts-other {
    display: block;
}

.input-field {
    padding: 10px;
    width: 100%;
    background-color: #000;
    color: #d4d4d4;
    border: #d4d4d4 solid thin;
    margin-top: 5px;
}

.input-field--disabled {
    border-color: #333;
}

.contacto__field-required-msg,
.contacto__field-limit-msg,
.contacto__field-more-limit-msg,
.contacto__field-required-opts-other {
    font-size: .8rem;
    margin-top: 5px;
    color: #7300b4;
    display: none;
    position: absolute;
}

.btn {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .9rem;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #1d00ff;
    color: #fff;
}

.networking-opts__ot + .input-field {
  display: none;
}

.networking-opts__ot:checked + .input-field {
  display: block;
}

.networking-opts__other {}

.btn-submit {

}

.contacto-links {
    line-height: 2rem;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 70px;
}

.contacto-figure {
    color: #fff;
    margin: 0;
}

.contacto-figure__img {
    width: 80%;
    opacity: .75;
    margin-left: 40px;
    display: block;
    border: #fff solid thin;
    filter: grayscale(100%);
}

.contacto-figure__figcaption {
    margin-left: 40px;
    margin-top: 10px;
    color: #fff;
}

/**/

.footer {
    text-align: center;
    background-color: #1d00ff;
    color: #fff;
}

/* helpers */

.media-obj {
    display: flex;
}

.media-obj .media-obj__img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.d-none {
    display: none;
}

.h-100 {
    min-height: 100%;
}

.col-50 {
    flex: 1;
}

.--regular {
    font-weight: 400;
}

.--medium {
    font-weight: 500;
}

.text-bg {
    position: relative;
    display: inline;
    white-space: pre-wrap;
    padding: 0 10px 1px 0;
}

.text-bg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 0.25em;
}

.text-bg--black,
.text-bg--black:after {
    background-color: rgba(0, 0, 0, .8);
}

.text-bg--black {
    border: 0 solid rgba(0, 0, 0, .8);
}

.text-bg--white,
.text-bg--white:after {
    background-color: rgba(255, 255, 255, .8);
}

.text-bg--white {
    border: 0 solid rgba(255, 255, 255, .8);
}

.text-bg--orange,
.text-bg--orange:after {
    background-color: rgba(243, 65, 43, .8);
}

.text-bg--orange {
    border: 0 solid rgba(243, 65, 43, .8);
}